<%-include("head")-%>
<div class="bod">
 <div class="wrapper">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis fermentum enim sit amet maximus. Aliquam nec erat in dolor condimentum consequat non nec lectus. Vestibulum dictum ipsum ut mi varius, sit amet condimentum odio commodo. Donec molestie ante quis sem blandit, eu volutpat odio rhoncus. Quisque viverra eget lacus ac finibus. Pellentesque eget rhoncus metus. Aenean ullamcorper in sem eu ullamcorper.
        Aenean ornare enim convallis nisi vulputate, in vehicula est maximus. Ut eget ipsum vitae mi varius scelerisque eget et purus. Integer et commodo velit. Proin lobortis, lorem et congue tempus, ante odio auctor diam, sit amet sollicitudin nulla justo id nisl. Quisque eu mauris in nibh mollis scelerisque. Nam pretium porta mollis. Integer quis ipsum tempus, fringilla felis iaculis, maximus tellus. Suspendisse at sagittis sem, quis condimentum leo. Praesent gravida, tortor ullamcorper malesuada pharetra, neque enim vehicula diam, eu blandit tellus tortor eu quam. Integer nisl urna, iaculis vel leo vel, pretium ultrices mi. Ut quis eleifend erat.</p>
 </div>
</div>
<%-include("footer")-%>