<%-include("head")-%>
<div class="bod">
    <div class="wrapper">
    <h1>Contact</h1>
    <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque vulputate egestas nisi, et commodo elit lacinia quis. Aliquam libero urna, condimentum ut varius eget, malesuada id nisl. Quisque semper sapien sed tellus sagittis imperdiet. Cras felis est, consequat et consectetur sed, porta sed erat. Nulla mollis, risus quis accumsan ultrices, justo orci sagittis ipsum, nec convallis ante neque eget tellus. Nulla facilisi. Praesent at ligula facilisis, luctus ipsum vel, luctus lorem. Sed vulputate viverra purus, a mattis arcu molestie sit amet. Nam nec arcu tincidunt, porttitor tortor et, vestibulum massa. Proin consequat nibh a massa euismod cursus</p>
</div>
</div>
<%-include("footer")-%>