<%-include("../partials/head")-%>
<div class="bod">
 <div class="wrapper">
    <div class="published-content">
    <h1>About</h1>
    <p>A start of a page that can be used for publishing a individual history or blog</p>
    </div>
  </div>
</div>
<%-include("../partials/footer")-%>