<%-include("../partials/head-publish");-%>

<div class="wrapper">
<form id="form-login" action="/JXfg4cTnhZdPRYqXuFrwvcJOUYzaoDkf" method="POST">
    <input name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
    <button type="submit">Log in</button>
</form>
</div>

<%-include("../partials/footer");-%>