<%-include("../partials/head");-%>

<div class="bod">
 <div class="wrapper">
   <div class="published-content-see">
    <h1> <%=titleU%></h1>
    <p> <%=postU%> </p>
   </div>
 </div>
</div>

 

<%-include("../partials/footer");-%>